<div class="row">
    <div class="col-md-3">
        <img [src]="album.picture" width="100%" class="responsive-image mat-elevation-z1">
    </div>
    <div class="col-md-9">
        <h2> {{album.album}} </h2>
        <p class="pt-4">
            {{album.artist}}
        </p>
        <p>
            {{album.year}} | {{album.songs.length}} Songs | {{album.genre}}
        </p>
    </div>
</div>

<mat-progress-spinner *ngIf="!album.songs" style="margin:0 auto;" [diameter]="40" mode="indeterminate">
</mat-progress-spinner>

<table class="mat-elevation-z8" *ngIf="album.songs">
    <thead>
        <tr>
            <th style="width:60px"> # </th>
            <th> Name</th>
        </tr>
    </thead>
    <tbody>
        <tr class="track-row {{(song.id == selected) ? 'selected' : ''}}" *ngFor="let song of album.songs"
            routerLink="/song/{{song.id}}">
            <td>{{song.track}}</td>
            <td> {{song.title}} </td>
            <td style="text-align: right;">
                {{(song.duration.hours == 0) ? '' : song.duration.hours+':'}}
                {{song.duration.minutes}} : {{song.duration.seconds}}
            </td>
        </tr>
    </tbody>
</table>
