body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #111111;
  position: unset;
  color: #fff;
  font-family: Roboto,sans-serif;
}

.ta-center {
  text-align: center;
}

html.cdk-global-scrollblock {
  overflow: hidden;
}

.cdk-global-scrollblock body {
  padding-right: 15px !important;
}

.float-r {
  float: right;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, .1);
  border-radius: 0;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, .25);
}

::-webkit-scrollbar-thumb:active {
  background: rgba(255, 255, 255, .5);
}

.mat-snack-bar-container {
  color: rgba(255, 255, 255, 0.77);
  background: #3e3e3e;
}
